architecture: deeplabv3
batch_size: 4
n_epochs: 1000
patience: 1000
learning_rate: 0.00001
datadir: /path/to/data
size: [224, 224]
train_sequences:
    "subject_id":  # Use specific sequences
        - "seq_id"
    "subject_id": []  # Use all sequences
valid_sequences:
    "subject_id":  # Use specific sequences
        - "seq_id"
    "subject_id": []  # Use all sequences
test_sequences:
    "subject_id":  # Use specific sequences
        - "seq_id"
    "subject_id": []  # Use all sequences
classes:
    - arytenoid-muscle
    - epiglottis
    - hyoid-bone
    - lower-lip
    - soft-palate
    - thyroid-cartilage
    - tongue
    - upper-lip
    - vocal-folds
