datadir: /path/to/data
mode: rgb  # Options are rgb or gray
batch_size: 2
n_epochs: 500
patience: 50
learning_rate: 0.0001
size: [136, 136]
train_sequences:
    subject_id:
        - sequence_id
        - sequence_id
valid_sequences:
    subject_id:
        - sequence_id
        - sequence_id
test_sequences:
    subject_id:
        - sequence_id
        - sequence_id
classes:
    - arytenoid-muscle
    - epiglottis
    - lower-lip
    - pharynx
    - soft-palate
    - thyroid-cartilage
    - tongue
    - upper-lip
    - vocal-folds